@using DreamFactory.AddressBook.Extensions
@model DreamFactory.AddressBook.Models.ContactGroupViewModel

@{
    ViewBag.Title = "Add new contact group";
}

<h2>@ViewBag.Title</h2>
<br />
<div class="row">
    <div class="col-md-8">
        <section id="createForm">
            @using (Html.BeginForm("Create", "ContactGroup", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.HiddenFor(x => x.ContactGroup.Id)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.ContactGroup.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ContactGroup.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ContactGroup.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Contacts in group", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @for (int i = 0; i < Model.Contacts.Count; i++)
                        {
                            <div class="checkbox">
                                <label>
                                    <input data-val="true" id="contacts[@i].InGroup" name="contacts[@i].InGroup" type="checkbox" value="true">
                                    <input name="contacts[@i].InGroup" type="hidden" value="false">
                                    <input name="contacts[@i].ContactId" type="hidden" value="@Model.Contacts[i].ContactId">
                                     @Model.Contacts[i].ContactName
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a href="@Url.Action("List", "ContactGroup", Request.QueryString.ToRouteValues())" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            }
        </section>
    </div>
</div>