@using DreamFactory.AddressBook.Extensions
@model DreamFactory.AddressBook.Models.ContactViewModel

@{
    ViewBag.Title = "Add new contact";
}

<h2>@ViewBag.Title</h2>
<br />
<div class="row">
    <div class="col-md-8">
        <section id="createForm">
            @using (Html.BeginForm("Create", "Contact", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.HiddenFor(x => x.GroupId)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Contact.FirstName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Contact.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Contact.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Contact.LastName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Contact.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Contact.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Contact.Twitter, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Contact.Twitter, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Contact.Twitter, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Contact.Skype, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Contact.Skype, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Contact.Skype, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Contact.Notes, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Contact.Notes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Contact.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary"/>
                        <a href="@Url.Action("List", "Contact", Request.QueryString.ToRouteValues())" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
